.item {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.item:last-child {
  border-bottom: 0;
}

.half-width-inline-box {
  display: inline-block;
  width: 50%;
}

.l-display-flex {
  display: flex;
}

.half-width {
  width: 50%;
}

.image-container {
  padding: 10px;
}

.item-details {
  padding: 10px;
}

.ratings {
  color: #ffbd00;
}

.l-margin-top {
  margin-top: 16px;
}

.l-margin-bottom {
  margin-bottom: 16px;
}

h2 {
  margin: 10px 0;
}

.item-details ul {
  padding: 0 0 0 20px;
  list-style-type: disc;
}

button {
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 200px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius: 3px;
  vertical-align: middle;
}

dl {
  padding: 0 16px;
}

dl dt, dl dd {
  display: inline-block;
  margin: 0 0 8px 0;
}

dl dt {
  width: 60%;
}

dl dd {
  width: 40%;
}