.logo-section {
  text-align: center;
  padding: 16px 0 0 0;
}

.logo-section img {
  height: 70px;
}

.header ul li {
  display: inline-block;
}

.header ul a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 16px;
  border-bottom: 2px solid transparent;
}

.header ul a.menu-selected {
  color: red;
}

.header ul a:hover {
  /*background: #666;*/
  border-bottom: 2px solid red;
}

.menu-section {
  background: #000;
}