.container {
  max-width: 1024px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto 50px auto;
}

.shop-items {
  width: 75%;
  border:1px solid #999;
}

.order-summary {
  width: 25%;
  border: 1px solid #999;
  border-left: 0;
}

.shopping-page-section {
  display: flex;
}

.list-remove-defaults {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.container.list-remove-defaults {
  padding: 0 20px;
}